*{
    margin: 0;
    padding:0;
    
}

body{
    width: auto;
    height: auto;
    
    background: url(backgrlogin.jpg);
    
    background-position-y:50px ;
    background-position-x:-120px ;
}
/*-------Phần đầu --------*/
.phandau{
    background-color: rgb(255, 149, 20); 
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;

}
#phandau_cangiua{
     display:flex;
     justify-content: center;
     width: 1300px;
     position:relative;
     left:110px;
     right: 100px; 
}
/*-------Phần đầu _ logo --------*/
.phandau_logo{
    display: flex;
    flex: 2;
}
#logo{
    width: 100px;
    height: 30px;

    margin: 10px;
}
#icon_search{
    width: 18px;
    height: 18px;
}
.timkiem{
    height:30px;
    background-color: white;
    position: relative;
    top: 10px;
    border-radius: 30px;
}
#search{
    border: none;
    outline: none;
    width: 250px;
    height: 30px;
    border-radius: 30px;
    text-align:left;
    background-color: none;
    padding-left: 5px;
}
#submit_1{
    border: none;
    background-color: white;
    position: relative;
    top: 5px; 
   border-radius: 30px;
   outline: none;
   padding-right: 10px;
}


/*-------Phần đầu _ menu --------*/
.phandau_menu{
    flex: 3;
}
.phandau_menu > ul{
  display: flex;
   height: 54px;
}
.phandau_menu > ul > li{
    flex: 1;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    position: relative;
}
.phandau_menu > ul > li > a{
    text-decoration: none;
    color: black;
    position: relative;
    top: 15px;
    display: block;
}
#icon_trangchu{
    width: 20px;
}
.phandau_menu > ul > li:hover {
    background-color: rgb(250, 140, 6);  
}
.phandau_menu > ul > li > a:hover{
    color: chartreuse;
}


/*-------Phần đầu _ menu cấp 2 --------*/
.danhmuc_ul{
    margin: 30px;
    width: 200px;
    background-color:rgba(250, 140, 6,0.9);
    position: absolute;
     display: none;
     z-index: 1;
}
.danhmuc_ul li{
    list-style: none;
    text-align: left;
    padding-top: 10px;

}
.danhmuc_ul li a{
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid rgb(250, 140, 6);
    text-indent: 10px;
    color: black;
}
#icon_dienthoai{
    width: 20px;
    padding-right: 5px;
}
.phandau_menu ul li:hover .danhmuc_ul{
    display: block;
}
.danhmuc_ul li:hover{
    background-color: rgb(204, 239, 6);
    display: block;
}

/*-------Phần đăng nhập  --------*/
#wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

    
}
#from-login{
    max-width: 500px;
    background-color: rgb(191, 92, 31);
    flex-grow: 1;
    line-height:40px;
    padding: 30px 30px 40px;
    box-shadow:0px 0px 17px 2px rgb(244, 241, 241);
}
.from-heading{
    font-size: 25px;
    color: aliceblue;
    text-align: center;
    margin-bottom: 30px;

}
.dk{
    color: #fff;
}
.dk a{
    text-decoration: none;
    color: #1717e1;
    margin-left: 10px;
}
.fromgr{
    display: flex;
    border-bottom: 1px solid #fff;
    margin-top: 15px;
    margin-bottom: 10px;
}
#eye {
    padding-right: 0;
}
#eye i{
    cursor: pointer;

}
.fromgr i{
    color: #fff;
    font-size: 20px;
    padding-top:5px ;
    padding-right: 15px;
}
.from-input{
    background: transparent;
    border: 0;
    outline: 0;
    color: rgb(255, 255, 255);
    flex-grow: 1;
}
.from-input::placeholder{
    color: rgb(247, 245, 245);
}
.from-submit{
    background: transparent;
    border: 1px solid#fff;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 30px;
    
}
.from-submit:hover{
    border:1px solid #140de2;

}

